.DS_Store
.idea/
.classpath
.project
.settings/

/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

uploads/
logs/
target/
/src/main/resources/frontend/node_modules/
/src/main/resources/frontend/node/
