.documents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.documents .block-title {
  width: 100%;
}

.documents__col {
  width: 45%;
  margin: 1em;
  padding: 1em;
}

.documents__col__title {
  margin-bottom: 1em;
  text-align: center;
  border-bottom: 1px black solid;
}

.document {
  display: flex;
  width: fit-content;
  margin-bottom: 1em;
  justify-content: center;
}

.document:hover .document__icon {
  background-position: -448px 0;
}

.document:hover .document__info__title {
  text-decoration: underline;
}

.document__icon {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 1em 0 auto;
  background: url(../../imgs/svg-sprite.svg) -398px 0;
}

.document__info {
  width: 80%;
}

.document__info__title {
  margin-bottom: 0.5em;
  font-weight: 600;
  transition: text-decoration 0.3s linear;
}

@media screen and (max-width: 1240px) {
  .documents {
    display: block;
    flex-wrap: nowrap;
  }
  .documents__col {
    width: 100%;
    margin: 1em 0;
    padding: 0;
  }
  .documents__col:last-child {
    margin-top: 3em;
  }
  .document {
    margin: 1em auto;
  }
}
