.documents-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.documents-container .block-title {
  width: 100%;
}

.documents-container .documents-container__block {
  width: 45%;
  margin: 1em;
  padding: 1em;
}

.documents-container .documents-container__block .documents-container__block-title {
  margin-bottom: 1em;
  text-align: center;
  border-bottom: 1px black solid;
}

.doc {
  display: flex;
  width: fit-content;
  margin-bottom: 1em;
  justify-content: center;
}

.doc .doc_icon {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 1em 0 auto;
  background: url(../../imgs/icons/document.svg);
}

.doc .doc_text {
  width: 80%;
}

.doc .doc_text .doc_text-title {
  margin-bottom: 0.5em;
  font-weight: 600;
  transition: text-decoration 0.3s linear;
}

.doc:hover .doc_icon {
  background: url(../../imgs/icons/document-active.svg);
}

.doc:hover .doc_text-title {
  text-decoration: underline;
}

@media screen and (max-width: 1240px) {
  .documents-container {
    display: block;
    flex-wrap: nowrap;
  }
  .documents-container .documents-container__block {
    width: 100%;
    margin: 1em 0;
    padding: 0;
  }
  .documents-container .documents-container__block:last-child {
    margin-top: 3em;
  }
  .doc {
    margin: 1em auto;
  }
  .doc .doc_text {
    width: 80%;
  }
}
