.main-doc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-doc .block-title {
  width: 100%;
  margin-bottom: 1em;
}

.main-doc .main-doc__image {
  width: 45%;
}

.main-doc .main-doc__image img {
  max-width: 100%;
}

.main-doc .main-doc__description-block {
  width: 45%;
  padding: 1em;
}

.main-doc .main-doc__description-block .main-doc__description-block__date {
  text-align: end;
}

.main-doc .main-doc__description-block .main-doc__description-block__desctription {
  margin: 1em 0;
  font-weight: 500;
}

.main-doc .main-doc__description-block .main-doc__description-block__btn {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  font-weight: 600;
  transition: color 0.2s linear;
}

.main-doc .main-doc__description-block .main-doc__description-block__btn .btn-icon {
  width: 40px;
  height: 40px;
  margin-right: 0.5em;
  background: url(../../imgs/icons/download.svg);
  transition: background 0.2s linear;
}

.main-doc .main-doc__description-block .main-doc__description-block__btn:hover {
  color: #0072B6;
}

.main-doc .main-doc__description-block .main-doc__description-block__btn:hover .btn-icon {
  background-image: url(../../imgs/icons/download-active.svg);
}

.other-docs {
  margin-top: 2em;
}

.doc-container {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.doc-container .doc {
  justify-self: center;
}

@media screen and (max-width: 1240px) {
  .main-doc {
    display: block;
  }
  .main-doc .main-doc__image {
    width: 100%;
  }
  .main-doc .main-doc__description-block {
    width: 100%;
  }
}
