.friends {
  width: fit-content;
  margin: 2em auto;
  padding: 0.5em;
  overflow: hidden;
  background-color: #f9f9f9;
  box-shadow: 0px 5px 4px #f3f3f3;
  border-radius: 30px;
}

.friends .friends_block {
  width: max-content;
  margin: 1em;
  align-items: center;
  text-align: center;
}

.friends .friends_block a .friends_block_logo {
  max-width: 90px;
  max-height: 110px;
}

.friends .friends_block a .friends_block_description {
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: 600;
  transition: color 0.2s linear;
}

.friends .friends_block a:hover .friends_block_description {
  color: #0072b6;
}

.friends .slider__item {
  flex: 0 0 20%;
  max-width: 20%;
  align-self: baseline;
  justify-self: center;
}

@media screen and (min-width: 768px) and (max-width: 1240px) {
  .friends {
    width: 75%;
  }
  .friends .slider__wrapper {
    margin-left: 1.5em;
  }
  .friends .slider__item {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media screen and (max-width: 768px) {
  .friends {
    width: 80%;
  }
  .friends .slider__item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
