.main-section:not(:first-child) {
  margin-top: 2em;
}

.main-section__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5em;
}

.main-section__content .section:first-child {
  display: flex;
  flex: 0 0 100%;
}

.main-section__content .section:first-child .section__image {
  max-width: 450px;
  height: auto;
}

.main-section__content .section:first-child .section__info {
  padding: 1em;
}

.main-section__content .section:first-child .section__info__date {
  margin: 0 0 1em;
}

.main-section__content .section:first-child .section__info__title {
  margin-bottom: 1em;
}

.main-section__content .section:first-child .section__info__description {
  display: block;
}

.main-section__content .section {
  width: min-content;
  margin-top: 1em;
}

.main-section__content .section__image-container {
  width: 100%;
}

.main-section__content .section__image {
  max-width: 200px;
  height: 120px;
}

.main-section__content .section__info {
  margin: 0.5em 0;
  padding: 0;
}

.main-section__content .section__info__title {
  font-weight: 600;
}

.main-section__content .section__info__description {
  display: none;
}

.sections {
  display: flex;
  margin-top: 2em;
  justify-content: space-between;
}

.sections > .block {
  flex: 0 0 48%;
  max-width: 48%;
  padding: 1em;
}

@media screen and (min-width: 768px) and (max-width: 1240px) {
  .main-section__content {
    display: block;
  }
  .main-section__content .section,
  .main-section__content .section:first-child {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .main-section__content .section .section__image,
  .main-section__content .section:first-child .section__image {
    max-width: 100%;
    height: auto;
  }
  .main-section__content .section .section__info,
  .main-section__content .section:first-child .section__info {
    padding: 0;
  }
  .main-section__content .section .section__info__date,
  .main-section__content .section:first-child .section__info__date {
    margin-top: 0.5em;
  }
  .main-section__content .section .section__info__description,
  .main-section__content .section:first-child .section__info__description {
    display: none;
  }
  .sections {
    display: block;
    margin-top: 1em;
  }
  .sections > div {
    margin-top: 1em;
    flex: none;
    max-width: 100%;
  }
  .section {
    display: block;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .main-section__content {
    display: block;
  }
  .main-section__content .section,
  .main-section__content .section:first-child {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .main-section__content .section .section__image,
  .main-section__content .section:first-child .section__image {
    max-width: 100%;
    height: auto;
  }
  .main-section__content .section .section__info,
  .main-section__content .section:first-child .section__info {
    padding: 0;
  }
  .main-section__content .section .section__info__date,
  .main-section__content .section:first-child .section__info__date {
    margin-top: 0.5em;
  }
  .main-section__content .section .section__info__description,
  .main-section__content .section:first-child .section__info__description {
    display: none;
  }
  .main-section__content .section {
    display: block;
    padding: 0;
  }
  .sections {
    display: block;
    margin-top: 1em;
  }
  .sections > div {
    margin-top: 1em;
    flex: none;
    max-width: 100%;
  }
}
