.navigation {
  display: flex;
  border-bottom: 1px black solid;
  z-index: 1;
}

.navigation .navigation_mobile {
  display: none;
  padding: 10px 0 10px 2em;
}

.navigation .navigation_mobile.show .navigation_mobile_menu {
  left: 0;
}

.navigation .navigation_mobile .navigation_mobile_btn-container button {
  width: 25px;
  height: 26px;
  background: url(../../imgs/icons/burger.svg);
  border: 0;
  border-radius: 0;
  cursor: pointer;
}

.navigation .navigation_mobile .navigation_mobile_btn-container button:hover {
  background-image: url(../../imgs/icons/burger-active.svg);
}

.navigation .navigation_mobile .navigation_mobile_menu {
  display: block;
  width: 80%;
  position: fixed;
  top: 0;
  left: -100%;
  background: white;
  box-shadow: 2px 2px 5px #f3f3f3;
  font-size: 1.2em;
  font-weight: 600;
  transition: left 0.5s linear;
  z-index: 2;
}

.navigation .navigation_mobile .navigation_mobile_menu .navigation_mobile_menu_list .navigation_mobile_menu_list-title {
  margin-top: 10px;
  text-align: center;
  border-bottom: 1px black solid;
}

.navigation .navigation_mobile .navigation_mobile_menu .navigation_mobile_menu_list li a {
  display: inline-block;
  width: 100%;
  padding: 10px;
  transition: background-color 0.3s linear, color 0.3s linear;
}

.navigation .navigation_mobile .navigation_mobile_menu .navigation_mobile_menu_list li a:hover {
  background-color: #f0f0f0;
  color: #0072b6;
}

.navigation .navigation_mobile .navigation_mobile_menu .navigation_mobile_menu_list .dropdown .dropdown_inner-list {
  max-height: 0;
  background-color: #f0f0f0;
  color: black;
  transition: max-height 0.4s linear;
}

.navigation .navigation_mobile .navigation_mobile_menu .navigation_mobile_menu_list .dropdown .dropdown_inner-list li {
  transition: visibility 0.3s linear;
  visibility: hidden;
  padding-left: 10px;
}

.navigation .navigation_mobile .navigation_mobile_menu .navigation_mobile_menu_list .dropdown.show {
  background-color: #f0f0f0;
  color: #0072b6;
}

.navigation .navigation_mobile .navigation_mobile_menu .navigation_mobile_menu_list .dropdown.show .dropdown_title::after {
  background-position: 0 0;
}

.navigation .navigation_mobile .navigation_mobile_menu .navigation_mobile_menu_list .dropdown.show .dropdown_inner-list {
  max-height: 400px;
}

.navigation .navigation_mobile .navigation_mobile_menu .navigation_mobile_menu_list .dropdown.show .dropdown_inner-list li {
  visibility: visible;
}

.navigation .navigation_search {
  display: none;
  margin: 0 auto 0 1em;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
}

.navigation .navigation_search .navigation_search_btn-container button {
  width: 25px;
  height: 25px;
  background: url(../../imgs/icons/search-btn.svg);
  border: 0;
  border-radius: 0;
  cursor: pointer;
}

.navigation .navigation_search .navigation_search_btn-container button:hover {
  background-image: url(../../imgs/icons/search-btn_active.svg);
}

.navigation .navigation_search .navigation_search_input-container input {
  max-width: 0px;
  height: 25px;
  visibility: hidden;
  transition: max-width 0.5s linear, visibility 0.4s linear;
}

.navigation .navigation_search .navigation_search_input-container.show input {
  max-width: 150px;
  visibility: visible;
}

.navigation .navigation_menu {
  width: fit-content;
  margin: 0 auto;
  font-weight: 500;
}

.navigation .navigation_menu .navigation_menu-list {
  display: flex;
  align-items: baseline;
}

.navigation .navigation_menu .navigation_menu-list li a {
  display: block;
  width: 100%;
  padding: 10px;
  border-left: 1px white solid;
  border-right: 1px white solid;
  transition: color 0.3s linear, border 0.3s linear;
}

.navigation .navigation_menu .navigation_menu-list li a:hover {
  color: #0072b6;
  border-left-color: #0072b6;
  border-right-color: #0072b6;
}

.navigation .navigation_menu .navigation_menu-list .dropdown {
  position: relative;
}

.navigation .navigation_menu .navigation_menu-list .dropdown .dropdown_list {
  display: none;
  position: absolute;
  width: max-content;
  border: 1px #0072b6 solid;
  background: white;
  z-index: 3;
}

.navigation .navigation_menu .navigation_menu-list .dropdown .dropdown_list li {
  color: black;
}

.navigation .navigation_menu .navigation_menu-list .dropdown .dropdown_list li a {
  transition: color 0.3s linear, background 0.3s linear;
}

.navigation .navigation_menu .navigation_menu-list .dropdown .dropdown_list li a:hover {
  border-left-color: #f0f0f0;
  border-right-color: #f0f0f0;
  background-color: #f0f0f0;
}

.navigation .navigation_menu .navigation_menu-list .dropdown:hover {
  color: #0072b6;
}

.navigation .navigation_menu .navigation_menu-list .dropdown:hover .dropdown_title {
  border-left-color: #0072b6;
  border-right-color: #0072b6;
}

.navigation .navigation_menu .navigation_menu-list .dropdown:hover .dropdown_title::after {
  background-position: 0 0;
}

.navigation .navigation_menu .navigation_menu-list .dropdown:hover .dropdown_list {
  display: block;
}

.navigation .navigation_facebook {
  display: none;
  margin: 0 1em 0 auto;
  padding: 10px 0;
}

.navigation .navigation_facebook .navigation_facebook-link {
  display: block;
  width: 25px;
  height: 26px;
  background: url(../../imgs/icons/facebook.svg) no-repeat;
}

.navigation .navigation_instagram {
  display: none;
  padding: 10px 2em 10px 0;
}

.navigation .navigation_instagram .navigation_instagram-link {
  display: block;
  width: 25px;
  height: 26px;
  background: url(../../imgs/icons/instagram.svg) no-repeat;
}

.navigation .dropdown_title::after {
  position: relative;
  content: url(../../imgs/icons/arrow.svg);
  left: 5px;
  top: 2px;
}

.navigation .dropdown_title:hover::after {
  content: url(../../imgs/icons/arrow-active.svg);
}

@media screen and (max-width: 768px) {
  .navigation .navigation_mobile {
    display: block;
  }
  .navigation .navigation_search {
    display: flex;
  }
  .navigation .navigation_menu {
    display: none;
  }
  .navigation .navigation_facebook {
    display: block;
  }
  .navigation .navigation_instagram {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1240px) {
  .navigation .navigation_menu .navigation_menu-list .dropdown .dropdown_list {
    width: fit-content;
  }
}
