.news .news-list {
  margin: 0.5em;
}

.news .news-list .news-list__news {
  display: flex;
  padding: 0.5em;
}

.news .news-list .news-list__news .news-list__news-img_container {
  width: 250%;
}

.news .news-list .news-list__news .news-list__news-img {
  max-width: 100%;
}

.news .news-list .news-list__news .news-list__news-text {
  padding: 1em;
}

.news .news-list .news-list__news .news-list__news-text .news-list__news-text_date {
  margin-bottom: 0.5em;
}

.news .news-list .news-list__news .news-list__news-text .news-list__news-text-title {
  font-weight: 600;
  margin-bottom: 0.5em;
}

.news .news-list a:hover .news-list__news-text-title {
  text-decoration: underline;
}

.news .news-pages {
  width: fit-content;
  margin: 1em auto;
}

.news .news-pages .page {
  display: inline-block;
  margin: 0 4px;
  padding: 0.5em 1em;
  color: white;
  font-weight: 500;
  background-color: #0072b6;
  border-radius: 10px;
}

.news .news-pages .page:hover {
  font-weight: 600;
  box-shadow: 0px 1px 3px #0072b4;
}

@media screen and (min-width: 768px) and (max-width: 1240px) {
  .news-list__news {
    flex-direction: column;
    margin-bottom: 1.5em;
  }
  .news-list__news .news-list__news-img_container {
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .news-list__news {
    flex-direction: column;
    margin-bottom: 1.5em;
  }
  .news-list__news .news-list__news-img_container {
    width: 100% !important;
  }
}
