.section .section-text {
  padding: 2em 1em;
}

.section .section-text .section-text__main-img {
  width: 40%;
  margin: 0 0 0.5em 0.5em;
  float: right;
  text-align: center;
}

.section .section-text .section-text__main-img img {
  max-width: 100%;
}

.section .section-text .section-text__main-img p {
  margin: 0.5em 0;
  font-weight: 600;
}

.other-sections {
  width: 70%;
  margin: 0 auto;
  margin-top: 2em;
}

.other-sections .other-sections__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1em;
  padding: 0 1em;
}

.other-sections .other-sections__container .other-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.other-sections .other-sections__container .other-section .other-section__icon {
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
  background: url(../../imgs/icons.png) -388px 0;
}

.other-sections .other-sections__container .other-section .other-section__title {
  font-size: 1.2em;
  font-weight: 500;
}

.other-sections .other-sections__container .other-section:hover {
  color: #0072b6;
}

.other-sections .other-sections__container .other-section:hover .other-section__icon {
  background-position: -348px 0;
}

@media screen and (max-width: 1240px) {
  .section {
    padding: 2em 0.5em;
  }
  .section .section-text .section-text__main-img {
    width: 65%;
  }
  .other-sections {
    width: 90%;
  }
}
