<footer class="footer">
    <div class="footer__logo">
        <a th:href="@{/}"><img th:src="@{/imgs/logo.png}" loading='lazy' alt="Донецький екзархат УГКЦ"
                               class="footer__logo__image"/></a>
    </div>
    <div class="footer__nav">
        <ul>
            <li class="footer__nav__list__item">
                <a th:href="@{/news}">Новини</a>
            </li>
            <li class="footer__nav__list__item">
                <a th:href="@{/article/exarchate}">Екзархат</a>
            </li>
            <li class="footer__nav__list__item">
                <a th:href="@{/article/parishes-and-monasteries}">Парафії та монастирі</a>
            </li>
            <li class="footer__nav__list__item">
                <a th:href="@{/documents}">Документи</a>
            </li>
            <li class="footer__nav__list__item">
                <a th:href="@{/article/about-us}">Про нас</a>
            </li>
            <li class="footer__nav__list__item">
                <a th:href="@{/contacts}">Контакти</a>
            </li>
        </ul>
    </div>
    <div class="footer__contacts">
        <a href="http://maps.google.com/?q=м. Запоріжжя, вул. Вербова,11, 69095" class="footer__contacts__link">м.
            Запоріжжя, вул. Вербова,11,
            69095</a>
        <a href="mailto:press.don.ugcc@gmail.com" class="footer__contacts__link">press.don.ugcc@gmail.com</a>
    </div>
    <div class="footer__copyright">
        <p>© 2016 Донецький екзархат УГКЦ.</p>
        <p>Всі права застережено.</p>
        <p>Developed by <a href="https://www.linkedin.com/in/dmytrodonchenko/" target="_blank">Helgen</a>. September,
            2022.</p>
    </div>
</footer>