<div class="friends">
    <div class="slider" data-slider="itc-slider" data-loop="true" data-autoplay="true" data-interval="3000">
        <div class="slider__wrapper">
            <div class="slider__items">
                <div class="slider__item">
                    <a href="https://ugcc.ua" target="_blank" class="friends__block">
                        <img th:src="@{/imgs/logos/ugcc.png}" alt="Герб УГКЦ" class="friends__block__logo">
                        <p class="friends__block__description">Офіційний сайт УГКЦ</p>
                    </a>
                </div>
                <div class="slider__item">
                    <a href="https://synod.ugcc.ua" target="_blank" class="friends__block">
                        <img th:src="@{/imgs/logos/synod.png}" alt="Герб Синоду Єпископів УГКЦ" class="friends__block__logo">
                        <p class="friends__block__description">Синод Єпископів УГКЦ</p>
                    </a>
                </div>
                <div class="slider__item">
                    <a href="https://map.ugcc.ua" target="_blank" class="friends__block">
                        <img th:src="@{/imgs/logos/map_ugcc.png}" alt="Лого мапи УГКЦ" class="friends__block__logo">
                        <p class="friends__block__description">Інтерактивна мапа УГКЦ</p>
                    </a>
                </div>
                <div class="slider__item">
                    <a href="https://caritas.ua" target="_blank" class="friends__block">
                        <img th:src="@{/imgs/logos/karitas.png}" alt="Герб Карітасу" class="friends__block__logo">
                        <p class="friends__block__description">Карітас України</p>
                    </a>
                </div>
                <div class="slider__item">
                    <a href="https://zhyve.tv" target="_blank" class="friends__block">
                        <img th:src="@{/imgs/logos/zhyveTB.png}" alt="Живе Телебачення" class="friends__block__logo">
                        <p class="friends__block__description">Живе Телебачення</p>
                    </a>
                </div>
                <div class="slider__item">
                    <a href="https://prayer-service.online" class="friends__block">
                        <img th:src="@{~/imgs/logos/molitvaChurch.png}" alt="Молитва Церкви" class="friends__block__logo">
                        <p class="friends__block__description">Молитва Церкви</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>