<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="description" type="java.lang.String"*/-->
<!--/*@thymesVar id="url" type="java.lang.String"*/-->
<!--/*@thymesVar id="metaImage" type="java.lang.String"*/-->
<!--/*@thymesVar id="article" type="com.project.ugcc.DTO.ArticleDTO"*/-->

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${title}"></title>
    <meta name="title" th:content="${title}"/>
    <meta name="description" th:content="${description}"/>

    <meta property="og:type" content="website"/>
    <meta property="og:url" th:content="${url}"/>
    <meta property="og:title" th:content="${title}"/>
    <meta property="og:description" th:content="${description}"/>
    <meta property="og:image" th:content="${metaImage}"/>

    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url" th:content="${url}"/>
    <meta property="twitter:title" th:content="${title}"/>
    <meta property="twitter:description" th:content="${description}"/>
    <meta property="twitter:image" th:content="${metaImage}"/>

    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/imgs/favicons/apple-touch-icon.png}"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/imgs/favicons/favicon-32x32.png}"/>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/imgs/favicons/favicon-16x16.png}"/>
    <link rel="manifest" th:href="@{/imgs/favicons/site.webmanifest}"/>
    <link rel="mask-icon" th:href="@{/imgs/favicons/safari-pinned-tab.svg}" color="#00b9ee"/>
    <link rel="shortcut icon" th:href="@{/imgs/favicons/favicon.ico}"/>
    <meta name="msapplication-TileColor" content="#2d89ef"/>
    <meta name="msapplication-config" content="./imgs/favicons/browserconfig.xml"/>
    <meta name="theme-color" content="#ffffff"/>

    <meta name="author" content="Dmytro Donchenko"/>
    <meta name="copyright" content="2016 Донецький екзархат УГКЦ"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>

    <link rel="stylesheet" th:href="@{/styles/index.css}"/>
</head>

<body>
<header th:replace="fragments/header.html"></header>

<div th:replace="fragments/navigation.html"></div>

<div th:replace="fragments/modal.html"></div>

<main>
    <div class="content">
        <div class="block">
            <div class="block-title">
                <h1 th:text="${article.title}"></h1>
            </div>
            <div class="article">
                <div class="article__image-container">
                    <img th:src="${article.imageUrl}" th:alt="${article.imageDescription}" class="article__image"
                         loading='lazy'>
                    <p class="article__image-description" th:text="${article.imageDescription}"></p>
                </div>
                <div th:utext="${article.text}"></div>
            </div>
        </div>
        <span id="mainArticleEnd"></span>
        <div class="other-articles block">
            <div class="block-title">
                <h2>Читайте також:</h2>
            </div>
            <div id="otherArticleContainer" class="other-articles__container">
            </div>
        </div>
    </div>

    <div th:replace="fragments/sidebar.html"></div>
</main>


<div th:replace="fragments/friends.html"></div>

<footer th:replace="fragments/footer.html"></footer>

<script th:src="@{/scripts/index.js}"></script>
<script th:src="@{/scripts/articlePageObserver.js}"></script>

</body>

</html>