<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="description" type="java.lang.String"*/-->
<!--/*@thymesVar id="url" type="java.lang.String"*/-->
<!--/*@thymesVar id="metaImage" type="java.lang.String"*/-->
<!--/*@thymesVar id="mainDocument" type="com.project.ugcc.DTO.DocumentDTO"*/-->
<!--/*@thymesVar id="otherDocuments" type="java.util.List<com.project.ugcc.DTO.DocumentDTO>"*/-->

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${title}"></title>
    <meta name="title" th:content="${title}"/>
    <meta name="description" th:content="${description}"/>

    <meta property="og:type" content="website"/>
    <meta property="og:url" th:content="${url}"/>
    <meta property="og:title" th:content="${title}"/>
    <meta property="og:description" th:content="${description}"/>
    <meta property="og:image" th:content="${metaImage}"/>

    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url" th:content="${url}"/>
    <meta property="twitter:title" th:content="${title}"/>
    <meta property="twitter:description" th:content="${description}"/>
    <meta property="twitter:image" th:content="${metaImage}"/>

    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/imgs/favicons/apple-touch-icon.png}"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/imgs/favicons/favicon-32x32.png}"/>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/imgs/favicons/favicon-16x16.png}"/>
    <link rel="manifest" th:href="@{/imgs/favicons/site.webmanifest}"/>
    <link rel="mask-icon" th:href="@{/imgs/favicons/safari-pinned-tab.svg}" color="#00b9ee"/>
    <link rel="shortcut icon" th:href="@{/imgs/favicons/favicon.ico}"/>
    <meta name="msapplication-TileColor" content="#2d89ef"/>
    <meta name="msapplication-config" content="./imgs/favicons/browserconfig.xml"/>
    <meta name="theme-color" content="#ffffff"/>

    <meta name="author" content="Dmytro Donchenko"/>
    <meta name="copyright" content="2016 Донецький екзархат УГКЦ"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" th:href="@{/styles/index.css}"/>
</head>

<body>
<header th:replace="fragments/header.html"></header>

<div th:replace="fragments/navigation.html"></div>

<div th:replace="fragments/modal.html"></div>

<main>
    <div class="content">
        <div class="main-document block">
            <div class="block-title">
                <h1 th:text="${mainDocument.title}"></h1>
            </div>
            <div class="main-document__image-container">
                <img th:src="${mainDocument.imageUrl}" th:alt="${mainDocument.title}" class="main-document__image"/ loading='lazy'>
            </div>
            <div class="main-document__info">
                <div class="main-document__info__date">
                    <p th:text="${mainDocument.creationDate}"></p>
                </div>
                <div class="main-document__info__description">
                    <p th:text="${mainDocument.description}"></p>
                </div>
                <a th:href="${mainDocument.imageUrl}" class="main-document__info__download-btn">
                    <div class="download-btn__icon"></div>
                    <div class="download-btn__info">
                        <p>Завантажити PDF</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="other-documents block">
            <div class="block-title">
                <h2>Інші документи</h2>
            </div>
            <div class="other-documents__container">
                <a th:each="document : ${otherDocuments}" th:href="@{/documents/{namedId}(namedId=${document.namedId})}" class="document">
                    <div class="document__icon">
                    </div>
                    <div class="document__info">
                        <p class="document__info__title" th:text="${document.title}"></p>
                        <p class="document__info__date" th:text="${document.creationDate}"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div th:replace="fragments/sidebar.html"></div>
</main>

<div th:replace="fragments/friends.html"></div>

<footer th:replace="fragments/footer.html"></footer>

<script th:src="@{/scripts/index.js}"></script>
</body>

</html>