<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="description" type="java.lang.String"*/-->
<!--/*@thymesVar id="url" type="java.lang.String"*/-->
<!--/*@thymesVar id="metaImage" type="java.lang.String"*/-->

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${title}"></title>
    <meta name="title" th:content="${title}"/>
    <meta name="description" th:content="${description}"/>

    <meta property="og:type" content="website"/>
    <meta property="og:url" th:content="${url}"/>
    <meta property="og:title" th:content="${title}"/>
    <meta property="og:description" th:content="${description}"/>
    <meta property="og:image" th:content="${metaImage}"/>

    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url" th:content="${url}"/>
    <meta property="twitter:title" th:content="${title}"/>
    <meta property="twitter:description" th:content="${description}"/>
    <meta property="twitter:image" th:content="${metaImage}"/>

    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/imgs/favicons/apple-touch-icon.png}"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/imgs/favicons/favicon-32x32.png}"/>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/imgs/favicons/favicon-16x16.png}"/>
    <link rel="manifest" th:href="@{/imgs/favicons/site.webmanifest}"/>
    <link rel="mask-icon" th:href="@{/imgs/favicons/safari-pinned-tab.svg}" color="#00b9ee"/>
    <link rel="shortcut icon" th:href="@{/imgs/favicons/favicon.ico}"/>
    <meta name="msapplication-TileColor" content="#2d89ef"/>
    <meta name="msapplication-config" content="./imgs/favicons/browserconfig.xml"/>
    <meta name="theme-color" content="#ffffff"/>

    <meta name="author" content="Dmytro Donchenko"/>
    <meta name="copyright" content="2016 Донецький екзархат УГКЦ"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>

    <link rel="stylesheet" th:href="@{/styles/index.css}"/>
</head>

<body>
<header th:replace="fragments/header.html"></header>

<div th:replace="fragments/navigation.html"></div>

<div th:replace="fragments/modal.html"></div>

<main>
    <div class="content">
        <div class="block">
            <div class="block-title">
                <h1>Катехизм Католицької Церкви</h1>
            </div>
            <div class="description-block">
                <div class="description__image-container">
                    <img class="description__image" th:src="@{/imgs/kahetyzm.jpeg}"
                         alt="Катехизм Католицької Церкви (ККЦ)" loading='lazy'/>
                </div>
                <div class="description">
                    <p><strong>Катехизм Католицької Церкви (ККЦ)</strong> — книга, що містить стислий виклад
                        основних положень католицької віри.</p>
                    <p>
                        Найновіший католицький катехизм був укладений за постановою позачергового Синоду єпископів
                        1985 року. Папа Йоан Павло II затвердив його 25 червня 1992 року. Як зазначено в передмові,
                        цей катехизм містить «і нове, і старе (пор. Мт. 13,52), оскільки віра завжди залишається
                        тією самою; і водночас вона є джерелом завжди нового світла». Він зберіг традиційний
                        порядок, уже застосований у Катехизмі святого Пія V, та його зміст було викладено
                        «“по-новому”, щоб відповісти на питання, які виникають у нашу епоху».
                    </p>
                    <p>
                        Катехизм пропонує органічний і синтетичний виклад найважливішого змісту католицького
                        віровчення – як у тому, що стосується віри, так і в питаннях моралі – у світлі II
                        Ватиканського собору і всієї церковної Традиції. Його головні джерела – це Святе Письмо,
                        тексти Отців, літургія й учення Церкви. Він призначений слугувати «базовим текстом для
                        катехизмів чи інших стислих викладів, які створюються в різних країнах» (Синод єпископів
                        1985 року, Прикінцева доповідь II, В, 4).
                    </p>
                    <p>Пропонуємо Вашій увазі електронну версію</p>
                </div>
            </div>
            <div class="source">
                <p>Джерело: <a href="https://rkc.org.ua/vchennya-czerkvy/katehyzm/">Римсько-Католицька Церква в
                    Україні</a></p>
            </div>
            <div class="e-book-container">
                <iframe width="100%" height="1100px"
                        src="https://docs.google.com/viewerng/viewer?url=https://rkc.org.ua/wp-content/uploads/2022/07/kkc.pdf&embedded=true"></iframe>
            </div>
        </div>
    </div>
    <div th:replace="fragments/sidebar.html"></div>
</main>


<div th:replace="fragments/friends.html"></div>

<footer th:replace="fragments/footer.html"></footer>

<script th:src="@{/scripts/index.js}"></script>
</body>

</html>