<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="newsSections" type="java.util.List<com.project.ugcc.models.News>"*/-->
<!--/*@thymesVar id="newsList" type="org.springframework.data.domain.Page<com.project.ugcc.DTO.NewsDTO>"*/-->
<!--/*@thymesVar id="news" type="com.project.ugcc.DTO.NewsDTO"*/-->
<!--/*@thymesVar id="documentSections" type="java.util.List<com.project.ugcc.models.Section>"*/-->
<!--/*@thymesVar id="documentsList" type="org.springframework.data.domain.Page<com.project.ugcc.DTO.DocumentDTO>"*/-->
<!--/*@thymesVar id="document" type="com.project.ugcc.DTO.DocumentDTO"*/-->
<!--/*@thymesVar id="articlesList" type="java.util.List<com.project.ugcc.models.Article>"*/-->
<!--/*@thymesVar id="albumsSections" type="java.util.List<com.project.ugcc.models.Album>"*/-->
<!--/*@thymesVar id="albumsList" type="org.springframework.data.domain.Page<com.project.ugcc.DTO.AlbumDTO>"*/-->
<!--/*@thymesVar id="album" type="com.project.ugcc.DTO.AlbumDTO"*/-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель керування сайтом</title>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/imgs/favicons/apple-touch-icon.png}"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/imgs/favicons/favicon-32x32.png}"/>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/imgs/favicons/favicon-16x16.png}"/>
    <link rel="manifest" th:href="@{/imgs/favicons/site.webmanifest}"/>
    <link rel="mask-icon" th:href="@{/imgs/favicons/safari-pinned-tab.svg}" color="#00b9ee"/>
    <link rel="shortcut icon" th:href="@{/imgs/favicons/favicon.ico}"/>
    <meta name="msapplication-TileColor" content="#2d89ef"/>
    <meta name="msapplication-config" content="./imgs/favicons/browserconfig.xml"/>
    <meta name="theme-color" content="#ffffff"/>

    <link rel="stylesheet" th:href="@{/styles/panel.css}">
</head>

<body>
<div class="panelTitle text-center border border-light shadow rounded">
    <h3>Панель керування</h3>
</div>
<div class="panel">
    <div class="panel__menu border border-light shadow rounded">
        <div class="dropdown mb-3 text-center">
            <button class="btn btn-primary dropdown-toggle w-100" type="button" data-toggle="dropdown"
                    aria-expanded="false">
                Новини
            </button>
            <div class="dropdown-menu w-100">
                <a class="dropdown-item" href="#" id="news-openBlockBtn">Створити новину</a>
                <a class="dropdown-item" href="#" id="newsList-openBlockBtn">Список новин</a>
            </div>
        </div>
        <div class="dropdown mb-3 text-center">
            <button class="btn btn-primary dropdown-toggle w-100" type="button" data-toggle="dropdown"
                    aria-expanded="false">
                Документи
            </button>
            <div class="dropdown-menu w-100 text-left">
                <a class="dropdown-item" id="document-openBlockBtn" href="#">Додати документ</a>
                <a class="dropdown-item" id="documentList-openBlockBtn" href="#">Cписок документів</a>
            </div>
        </div>
        <div class="dropdown mb-3 text-center">
            <button class="btn btn-primary dropdown-toggle w-100" type="button" data-toggle="dropdown"
                    aria-expanded="false">
                Сторінки
            </button>
            <div class="dropdown-menu w-100">
                <a class="articlePage-btn dropdown-item" th:each="article : ${articlesList}" th:text="${article.title}"
                   th:data-id="${article.id}"></a>
            </div>
        </div>
        <div class="dropdown mb-3 text-center">
            <button class="btn btn-primary dropdown-toggle w-100" type="button" data-toggle="dropdown"
                    aria-expanded="false">
                Альбоми
            </button>
            <div class="dropdown-menu w-100 text-left">
                <a class="dropdown-item" id="album-openBlockBtn" href="#">Додати альбом</a>
                <a class="dropdown-item" id="albumList-openBlockBtn" href="#">Cписок альбомів</a>
            </div>
        </div>
        <div class="dropdown mb-3 text-center">
            <button class="btn btn-primary dropdown-toggle w-100" type="button" data-toggle="dropdown"
                    aria-expanded="false">
                Трансляції
            </button>
            <div class="dropdown-menu w-100 text-left">
                <a class="dropdown-item" id="broadcast-openBlockBtn" href="#">Додати трансляцію</a>
                <a class="dropdown-item" id="broadcastList-openBlockBtn" href="#">Cписок трансляцій</a>
            </div>
        </div>
        <div class="mb-3 text-center">
            <button id="contacts-openBlockBtn" type="button" class="w-100 btn btn-primary">Контакти</button>
        </div>
        <div class="mb-3 text-center">
            <button id="credentials-OpenBlockBtn" type="button" class="w-100 btn btn-warning">Змінити логін
                та
                пароль
            </button>
        </div>
        <div class="mb-3 text-center">
            <a href="/login?logout=true" class="w-100 btn btn-info btn-m active" role="button" aria-pressed="true">Вихід
                з панелі</a>
        </div>
    </div>
    <div id="blocks" class="panel__blocks border border-light shadow rounded">
        <div class="p-1" style="display: block;">
            <div class="panel__block__title text-center border-bottom border-dark">
                <h4>Панель керування сайтом</h4>
            </div>
            <div class="text-center">
                <p>Виберіть пункт з меню для початку роботи з сайтом</p>
            </div>
        </div>
        <div id="news-menu" class="p-1" style="display: none;">
            <div class="panel__block__title text-center border-bottom border-dark">
                <h4 id="news-blockTitle">Створити новину</h4>
            </div>
            <div id="news-form">
                <div class="input-group panel__block__input-container">
                    <div class="w-100 p-1 text-center">
                        <h5>Розділ:</h5>
                    </div>
                    <select id="news-sectionInput" class="custom-select">
                        <option value="0" selected>Розділ...</option>
                        <option th:each="newsSection : ${newsSections}" th:value="${newsSection.id}"
                                th:text="${newsSection.title}"></option>
                    </select>
                </div>
                <div class="input-group panel__block__input-container">
                    <div class="w-100 p-1 text-center">
                        <h5>Зображення новини:</h5>
                    </div>
                    <div class="custom-file mb-3">
                        <input type="file" class="custom-file-input" id="news-imageInput"
                               accept="image/*">
                        <label class="custom-file-label" for="news-imageInput">Виберіть фото</label>
                    </div>
                    <div class="w-100 mt-3 text-center">
                        <h6 class="w-100">Превью зображення</h6>
                        <img id="news-imagePreview" class="w-25" alt="Превью завантаженого зображення"
                             th:src="@{./imgs/uploadPhoto.png}">
                    </div>
                </div>
                <div class="mb-3">
                    <div class="w-100 p-1 text-center">
                        <h5>Назва новини</h5>
                    </div>
                    <input id="news-titleInput" type="text" class="form-control" placeholder="Назва новини"
                           aria-describedby="news-titleHelp">
                    <small class="form-text text-muted inputMaxLength">Залишилось символів:</small>
                    <small id="news-titleHelp" class="form-text text-muted">Наприклад: "«Карітас Кам’янське»:
                        допомога потребуючим як спосіб пережити лихо війни"</small>
                </div>
                <div class="mb-3">
                    <div class="w-100 p-1 text-center">
                        <h5>Короткий опис новини</h5>
                    </div>
                    <textarea id="news-descriptionInput" class="form-control" rows="4"
                              placeholder="Короткий опис" aria-describedby="news-descriptionHelp"></textarea>
                    <small class="form-text text-muted inputMaxLength">Залишилось символів: </small>
                    <small id="news-descriptionHelp" class="form-text text-muted">Наприклад: "Після 24 лютого місто
                        Кам’янське, що на Дніпропетровщині, стало одним із місць транзиту і притулку для тих, хто
                        втікає від війни. Сюди прибуло понад 20 тисяч переселенців. Місцевий осередок благодійного
                        фонду Карітас, що діє при греко-католицькій парафії Преображення Господнього, був однією із
                        перших організацій, що відгукнулися на потреби переселенців, допомагаючи їм ліками,
                        продуктовими та гігієнічними наборами, організовуючи переїзд в західні області
                        країни."</small>
                </div>
                <div class="mb-3">
                    <div class="w-100 p-1 text-center">
                        <h5>Текст новини</h5>
                    </div>
                    <textarea id="news-textInput" name="editordata"
                              aria-describedby="news-text-help"></textarea>
                    <small class="form-text text-muted inputMaxLength">Залишилось символів: </small>
                    <small class="form-text text-muted">Заповніть і стилізуйте, як бажаєте,
                        основний текст новини</small>
                </div>
                <div class="mb-3 text-center">
                    <button id="news-btn" type="button" class="w-50 btn btn-primary">Створити</button>
                </div>
            </div>
        </div>
        <div id="newsList-menu" class="p-1" style="display: none;">
            <div class="panel__block__title text-center border-bottom border-dark">
                <h4>Список новини</h4>
            </div>
            <div id="newsList">
                <div class="card mb-3" th:each="news : ${newsList.content}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${news.id} + '. ' + ${news.title}"></h5>
                        <div class="d-flex justify-content-between text-center">
                            <button class="w-75 mr-2 btn btn-primary edit-btn"
                                    th:attr="data-id=${news.id}">Редагувати
                            </button>
                            <button class="w-25 ml-2 btn btn-danger delete-btn"
                                    th:attr="data-id=${news.id}">Видалити
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 text-center">
                <button type="button" class="w-50 btn btn-primary" id="newsList-moreBtn"
                        th:data-total-pages="${newsList.totalPages}">Показати ще
                </button>
            </div>
        </div>
        <div id="document-menu" class="p-1" style="display: none;">
            <div class="panel__block__title text-center border-bottom border-dark">
                <h4 id="document-blockTitle">Додати документ</h4>
            </div>
            <div id="document-form">
                <div class="input-group panel__block__input-container">
                    <div class="w-100 p-1 text-center">
                        <h5>Розділ документа:</h5>
                    </div>
                    <select id="document-sectionInput" class="custom-select">
                        <option value="0" selected>Розділ...</option>
                        <option th:each="docSection : ${documentSections}" th:value="${docSection.id}"
                                th:text="${docSection.title}">
                        </option>
                    </select>

                </div>
                <div class="mb-3">
                    <div class="w-100 p-1 text-center">
                        <h5>Назва документу</h5>
                    </div>
                    <input id="document-titleInput" type="text" class="form-control" placeholder="Назва документу"
                           aria-describedby="document-titleHelp">
                    <small class="form-text text-muted inputMaxLength">Залишилось символів:</small>
                    <small id="document-titleHelp" class="form-text text-muted">Наприклад: "Декрет про скликання
                        Єпископів УГКЦ 2022 року"</small>
                </div>
                <div class="mb-3">
                    <div class="w-100 p-1 text-center">
                        <h5>Опис документу</h5>
                    </div>
                    <textarea id="document-descriptionInput" class="form-control" rows="4"
                              placeholder="Короткий опис документу"
                              aria-describedby="news-description-help"></textarea>
                    <small class="form-text text-muted inputMaxLength">Залишилось символів: </small>
                    <small id="document-descriptionHelp" class="form-text text-muted">Наприклад: "Господь Бог наділив
                        нашого
                        славного попередника Блаженнішого Любомира Гузара, главу УГКЦ в 2001–2011 роках, багатьма
                        талантами, які він упродовж свого життя і служіння рясно примножив. Він був не лише
                        очільником Церкви, а й мірилом моральності людських вчинків. Маючи глибоку віру, патріарх
                        навчав слова Євангелія про найбільшу заповідь любові до Бога і ближнього."</small>
                </div>
                <div class="input-group panel__block__input-container">
                    <div class="w-100 p-1 text-center">
                        <h5>Зображення документа:</h5>
                    </div>
                    <div class="custom-file mb-3">
                        <input type="file" class="custom-file-input" id="document-imageInput"
                               accept="image/*">
                        <label class="custom-file-label" for="news-imageInput">Виберіть фото</label>
                    </div>
                    <div class="w-100 mt-3 text-center">
                        <h6 class="w-100">Превью зображення</h6>
                        <img id="document-imagePreview" class="w-25" alt="Превью завантаженого зображення"
                             th:src="@{./imgs/uploadPhoto.png}">
                    </div>
                </div>
                <div class="input-group panel__block__input-container">
                    <div class="w-100 p-1 text-center">
                        <h5>Файл документа:</h5>
                    </div>
                    <div class="custom-file mb-3">
                        <input type="file" class="custom-file-input" id="document-fileInput"
                               accept="application/pdf">
                        <label class="custom-file-label" for="document-fileInput">Виберіть файл</label>
                    </div>
                    <div id="document-fileAlerts" class="w-100 mx-1"></div>
                </div>
                <div class="my-4 text-center">
                    <button type="button" id="document-btn" class="w-50 btn btn-primary">Створити документ</button>
                </div>
            </div>
        </div>
        <div id="documentList-menu" class="p-1" style="display: none;">
            <div class="panel__block__title text-center border-bottom border-dark">
                <h4>Список документів</h4>
            </div>
            <div id="documentsList">
                <div class="card mb-3" th:each="document : ${documentsList.content}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${document.id} + '. ' + ${document.title}"></h5>
                        <div class="d-flex justify-content-between text-center">
                            <button class="w-75 mr-2 btn btn-primary edit-btn" th:attr="data-id=${document.id}">
                                Редагувати
                            </button>
                            <button class="w-25 ml-2 btn btn-danger delete-btn" th:attr="data-id=${document.id}">
                                Видалити
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 text-center">
                <button type="button" class="w-50 btn btn-primary" id="documentList-moreBtn"
                        th:data-total-pages="${documentsList.totalPages}">Показати ще
                </button>
            </div>
        </div>
        <div id="article-menu" class="p-1" style="display: none;">
            <div class="panel__block__title text-center border-bottom border-dark">
                <h4 id="article-blockTitle"></h4>
            </div>
            <div id="articleForm">
                <div class="input-group panel__block__input-container">
                    <div class="w-100 p-1 text-center">
                        <h5>Головне зображення статті:</h5>
                    </div>
                    <div class="custom-file mb-3">
                        <input type="file" class="custom-file-input" id="article-imageInput"
                               accept="image/*">
                        <label class="custom-file-label" for="article-imageInput">Виберіть фото</label>
                    </div>
                    <div class="w-100 mt-3 text-center">
                        <h6 class="w-100">Превью зображення</h6>
                        <img id="article-imagePreview" class="w-25" alt="Превью завантаженого зображення"
                             th:src="@{./imgs/uploadPhoto.png}">
                    </div>
                </div>
                <div class="mb-3">
                    <div class="w-100 p-1 text-center">
                        <h5>Підпис до зображення</h5>
                    </div>
                    <input id="article-imageDescriptionInput" type="text" class="form-control"
                           placeholder="Підпис до зображення" aria-describedby="article-imageDescriptionInputHelp">
                    <small class="form-text text-muted inputMaxLength">Залишилось
                        символів:</small>
                    <small id="article-imageDescriptionInputHelp" class="form-text text-muted">Наприклад: "Донецький
                        Екзархат"</small>
                </div>
                <div class="mb-3">
                    <div class="w-100 p-1 text-center">
                        <h5>Текст статті</h5>
                    </div>
                    <textarea id="article-text" name="editordata"
                              aria-describedby="article-textHelp"></textarea>
                    <small class="form-text text-muted inputMaxLength">Залишилось символів:</small>
                    <small id="article-textHelp" class="form-text text-muted">Заповніть і стилізуйте, як бажаєте,
                        основний текст статті</small>
                </div>
                <div class="mb-3 text-center">
                    <button id="article-editBtn" type="button" class="w-50 btn btn-primary">Зберегти зміни</button>
                </div>
            </div>
        </div>
        <div id="album-menu" class="p-1" style="display: none">
            <div class="panel__block__title text-center border-bottom border-dark">
                <h4 id="album-blockTitle"></h4>
            </div>
            <div id="albumForm">
                <div class="input-group panel__block__input-container">
                    <div class="w-100 p-1 text-center">
                        <h5>Розділ:</h5>
                    </div>
                    <select id="album-sectionInput" class="custom-select">
                        <option value="0" selected>Розділ...</option>
                        <option th:each="albumsSection : ${albumsSections}" th:value="${albumsSection.id}"
                                th:text="${albumsSection.title}"></option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <div class="w-100 p-1 text-center">
                    <h5>Назва альбому</h5>
                </div>
                <input id="album-titleInput" type="text" class="form-control" placeholder="Назва новини"
                       aria-describedby="album-titleHelp">
                <small class="form-text text-muted inputMaxLength">Залишилось символів:</small>
                <small id="album-titleHelp" class="form-text text-muted">Наприклад: "«Карітас Кам’янське»:
                    допомога потребуючим як спосіб пережити лихо війни"</small>
            </div>
            <div class="input-group panel__block__input-container">
                <div class="w-100 p-1 text-center">
                    <h5>Додати зображення до альбому :</h5>
                </div>
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" id="album-imageInput"
                           accept="image/*">
                    <label class="custom-file-label" for="news-imageInput">Виберіть фото</label>
                </div>
                <div class="w-100 text-center">
                    <button class="w-50 btn btn-primary" type="button"
                            id="album-imageUploadBtn">Завантажити
                    </button>
                </div>
                <div class="w-100 mt-3 text-center">
                    <h6 class="w-100">Превью зображення</h6>
                    <img id="album-imagePreview" class="w-25" alt="Превью завантаженого зображення"
                         th:src="@{./imgs/uploadPhoto.png}">
                </div>
            </div>
            <div>
                <div class="w-100 p-1 text-center">
                    <h5>Додані зображення</h5>
                </div>
                <div id="uploadedImageList" class="uploadedImageList">
                </div>
            </div>
            <div class="mb-3">
                <div class="w-100 p-1 text-center">
                    <h5>Посилання на відео</h5>
                </div>
                <input id="album-videoUrlInput" type="text" class="form-control" placeholder="Посилання на відео"
                       aria-describedby="album-videoUrlHelp">
                <small class="form-text text-muted inputMaxLength">Залишилось символів:</small>
                <small id="album-videoUrlHelp" class="form-text text-muted">Наприклад:
                    "https://www.youtube.com/watch?v=sjpBgPKQQhw"</small>
            </div>
            <div class="mb-3 text-center">
                <button id="album-applyBtn" type="button" class="w-50 btn btn-primary">Cтворити альбом</button>
            </div>
        </div>
        <div id="albumList-menu" class="p-1" style="display: none">
            <div class="panel__block__title text-center border-bottom border-dark">
                <h4>Список альбомів</h4>
            </div>
            <div id="albumList">
                <div class="card mb-3" th:each="album : ${albumsList.content}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${album.id} + '. ' + ${album.title}"></h5>
                        <div class="d-flex justify-content-between text-center">
                            <button class="w-75 mr-2 btn btn-primary edit-btn" th:attr="data-id=${album.id}">Редагувати
                            </button>
                            <button class="w-25 ml-2 btn btn-danger delete-btn" th:attr="data-id=${album.id}">Видалити
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 text-center">
                <button type="button" class="w-50 btn btn-primary" id="albumList-moreBtn"
                        th:data-total-pages="${albumsList.totalPages}">Показати ще
                </button>
            </div>
        </div>
        <div id="contacts-menu" class="p-1" style="display: none;">
            <div class="panel__block__title text-center border-bottom border-dark">
                <h4>Редагування контактних данних</h4>
            </div>
            <div id="contactsForm">
                <div class="form-group panel__block__input-container">
                    <label for="contacts-townInput">Місто та почтовий індекс</label>
                    <input type="text" class="form-control" id="contacts-townInput"
                           aria-describedby="contacts-townInputHelp">
                    <small class="form-text text-muted inputMaxLength">Залишилось символів: </small>
                    <small id="contacts-townInputHelp" class="form-text text-muted">Наприклад: м. Запоріжжя,
                        69095</small>
                </div>
                <div class="form-group panel__block__input-container">
                    <label for="contacts-addressInput">Адреса</label>
                    <input type="text" class="form-control" id="contacts-addressInput"
                           aria-describedby="contacts-addressInputHelp">
                    <small class="form-text text-muted inputMaxLength">Залишилось символів: </small>
                    <small id="contacts-addressInputHelp" class="form-text text-muted">Наприклад: вул.
                        Вербова,11</small>
                </div>
                <div class="form-group panel__block__input-container">
                    <label for="contacts-countryInput">Країна</label>
                    <input type="text" class="form-control" id="contacts-countryInput"
                           aria-describedby="country-countryInputHelp">
                    <small class="form-text text-muted inputMaxLength">Залишилось символів: </small>
                    <small id="contacts-countryInputHelp" class="form-text text-muted">Наприклад: Україна</small>
                </div>
                <div class="form-group panel__block__input-container">
                    <label for="contacts-phoneInput">Телефон</label>
                    <input type="text" class="form-control" id="contacts-phoneInput"
                           aria-describedby="contacts-phoneInputHelp">
                    <small class="form-text text-muted inputMaxLength">Залишилось символів: </small>
                    <small id="contacts-phoneInputHelp" class="form-text text-muted">Наприклад: +38 (098) 23 096
                        19</small>
                </div>
                <div class="form-group panel__block__input-container">
                    <label for="contacts-emailInput">Електронна адреса</label>
                    <input type="text" class="form-control" id="contacts-emailInput"
                           aria-describedby="contacts-emailInputHelp">
                    <small class="form-text text-muted inputMaxLength">Залишилось символів: </small>
                    <small id="contacts-emailInputHelp" class="form-text text-muted">Наприклад:
                        press.don.ugcc@gmail.com</small>
                </div>
                <div class="my-4 text-center">
                    <button id="contacts-applyBtn" class="btn btn-primary w-50">Зберегти
                        зміни
                    </button>
                </div>
            </div>
        </div>
        <div id="credential-menu" class="p-1" style="display: none;">
            <div class="panel__block__title text-center border-bottom border-dark">
                <h4>Зміна данних для входу</h4>
            </div>
            <div id="credentialsForm">
                <div class="mb-3 panel__block__input-container">
                    <label for="credential-loginInput" class="form-label">Логін:</label>
                    <input type="text" class="form-control" id="credential-loginInput" placeholder="Введіть новий логін"
                           aria-describedby="credential-loginInputHelp">
                    <small class="form-text text-muted inputMaxLength">Залишилось символів: </small>
                    <small id="credential-loginInputHelp" class="form-text text-muted">Наприклад: admin</small>
                </div>
                <div class="mb-3 panel__block__input-container">
                    <label for="credential-passwordInput" class="form-label">Пароль:</label>
                    <input type="password" class="form-control" id="credential-passwordInput"
                           placeholder="Введіть новий пароль" aria-describedby="credential-passwordInputHelp">
                    <small class="form-text text-muted inputMaxLength">Залишилось символів: </small>
                    <small id="credential-passwordInputHelp" class="form-text text-muted">Наприклад:
                        ugcc-site-password</small>
                </div>
                <div class="text-center">
                    <button id="credentials-btn" type="button"
                            class="btn btn-primary w-25 mx-auto">Змінити
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/scripts/panel.js}"></script>

</body>

</html>