#today i,
#today strong,
#today span {
  color: #ff4400;
}

#widget {
  width: 100%;
  height: 100%;
  background: #fff;
  background-color: #c97d41;
  border: 2px solid #8b4513;
  border-radius: 0.25rem;

  p {
    margin: 6px 0;
  }
  hr {
    border: none;
    background: #333;
    height: 1px;
    z-index: 102;
  }
  h1 a {
    text-decoration: none;
    color: white;
  }
}
#left {
  width: 33%;
  float: left;
  text-align: center;
  font-family: "PT Sans Narrow";
  font-weight: bold;
  text-transform: uppercase;
}
#right {
  width: 66%;
  margin-left: 33%;
  overflow: auto;
  font-family: "PT Sans Narrow";
}
#ctitlew {
  background-color: #c97d41;
  line-height: 36px;
  margin-bottom: 10px;
  font-family: "PT Sans Narrow";
  font-size: 20px;
  font-weight: bold;
  height: 36px;
}
#ctitlew a {
  color: #fff;
  text-decoration: none;
}
#logow {
  width: 32px;
  height: 32px;
  float: left;
}
.lmain {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.rmain {
  padding-right: 20px;
}
.lpist {
  padding: 0px 10px 10px 10px;
}
.lico {
  padding: 10px 10px 0px 10px;
}
.licow {
  margin: 0 auto;
  padding: 5px;
}
.ldate {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
}

.calendar__footer {
  background-color: #c97d41;
  color: #fff;
  line-height: 1.2em;
  text-align: right;
  position: relative;
  bottom: 2px;
  width: 100%;
  border-radius: 0 0 0.25rem 0.25rem;

  a {
    padding: 5px;
    text-decoration: none;
    color: white;
}
}