@import "vars.scss";

.main-doc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .block-title {
    width: 100%;
    margin-bottom: 1em;
  }

  .main-doc__image {
    width: 45%;

    img {
      max-width: 100%;
    }
  }

  .main-doc__description-block {
    width: 45%;
    padding: 1em;

    .main-doc__description-block__date {
      text-align: end;
    }

    .main-doc__description-block__desctription {
      margin: 1em 0;
      font-weight: 500;
    }

    .main-doc__description-block__btn {
      display: flex;
      @include centerBlock(100%);
      justify-content: center;
      align-items: center;
      @include fontStyling(1.3em, 600);

      .btn-icon {
        width: 40px;
        height: 40px;
        margin-right: 0.5em;
        background: url(../../imgs/icons.png) -166px 0;
      }

      &:hover {
        color: $hoverColor;
        .btn-icon {
          background-position: -116px 0;
        }
      }
    }
  }
}

.other-docs {
  margin-top: 2em;
}

.doc-container {
  @include flexWithWrapAndJustifyingContent;
  padding: 1em;

  .doc {
    justify-self: center;
  }
}

@media screen and (max-width: $tablet) {
  .main-doc {
    display: block;

    .main-doc__image {
      width: 100%;
    }

    .main-doc__description-block {
      width: 100%;
    }
  }
}
