@import "vars.scss";
@import "mixins.scss";

.documents-container {
  @include flexWithWrapAndJustifyingContent;

  .block-title {
    width: 100%;
  }

  .documents-container__block {
    width: 45%;
    margin: 1em;
    padding: 1em;

    .documents-container__block-title {
      margin-bottom: 1em;
      text-align: center;
      border-bottom: 1px $borderColor solid;
    }
  }
}

.doc {
  display: flex;
  width: fit-content;
  margin-bottom: 1em;
  justify-content: center;

  .doc_icon {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 1em 0 auto;
    background: url(../../imgs/icons.png) -478px 0;
  }

  .doc_text {
    width: 80%;

    .doc_text-title {
      margin-bottom: 0.5em;
      font-weight: 600;
      transition: text-decoration 0.3s linear;
    }
  }

  &:hover {
    .doc_icon {
      background-position: -428px 0;
    }

    .doc_text-title {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: $tablet) {
  .documents-container {
    display: block;
    flex-wrap: nowrap;

    .documents-container__block {
      width: 100%;
      margin: 1em 0;
      padding: 0;

      &:last-child {
        margin-top: 3em;
      }
    }
  }

  .doc {
    margin: 1em auto;
    .doc_text {
      width: 80%;
    }
  }
}
