@import "vars.scss";
@import "header.scss";
@import "navigation.scss";
@import "main.scss";
@import "friends.scss";
@import "footer.scss";

body {
  font-size: $fontSize;
  font-family: $fontFamily;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
