@import "vars.scss";
@import "header.scss";
@import "navigation.scss";
@import "modal.scss";
@import "main.scss";
@import "friends.scss";
@import "footer.scss";

body {
  font-size: $fontSize;
  font-family: $fontFamily;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

input[type="text"] {
  padding: 0 1em;
  border: 1.5px black solid;
  border-radius: 30px;

  &:focus {
    outline: none;
    border-color: $hoverColor;
  }
}
