@import "vars.scss";
@import "mixins.scss";
@import "header.scss";
@import "navigation.scss";
@import "modal.scss";
@import "main.scss";
@import "news-list.scss";
@import "news-page.scss";
@import "contacts.scss";
@import "documents.scss";
@import "document.scss";
@import "universal.scss";
@import "friends.scss";
@import "footer.scss";

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-size: $fontSize;
  font-family: $fontFamily;

  @media screen and (min-width: 1440px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1600px) {
    font-size: 25px;
  }

  &:after {
    display: block;
    overflow: hidden;
    width: 0;
    height: 0;
    content: url(../../imgs/icons/arrow-active.svg),
      url(../../imgs/icons/burger-active.svg),
      url(../../imgs/icons/search-btn_small_active.svg),
      url(../../imgs/icons/close-btn_active.svg),
      url(../../imgs/icons/document-active.svg),
      url(../../imgs/icons/download-active.svg),
      url(../../imgs/icons/section-active.svg);
  }
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

input[type="text"] {
  padding: 0 1em;
  border: 1.5px black solid;
  border-radius: 30px;

  &:focus {
    outline: none;
    border-color: $hoverColor;
  }
}

main {
  display: flex;
  margin: 2em;
  justify-content: space-between;

  .left-block {
    width: 73%;
  }

  .right-block {
    width: 25%;
  }

  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    .left-block {
      width: 55%;
    }

    .right-block {
      margin: 0 auto;
      width: 40%;
    }
  }

  @media screen and (max-width: $mobile) {
    flex-direction: column;

    .left-block {
      width: 100%;
    }

    .right-block {
      margin: 0 auto;
      margin-top: 2em;
      width: 80%;
    }
  }
}

.main-btn {
  margin: 1.5em 0;
  text-align: center;
  color: $secondTextColor;
  font-weight: 700;

  a {
    padding: 0.75em 2em;
    background-color: $hoverColor;
    border-radius: 20px;
    transition: box-shadow 0.2s linear;

    &:hover {
      box-shadow: 0 1px 3px $hoverShadowColor;
    }
  }
}

.block {
  padding: 1.5em;
  @include blockBackground;
}

.block-title {
  text-align: center;
  font-weight: 700;
  font-size: 1.2em;
  border-bottom: 1px $borderColor solid;
}

.social-btn {
  display: block;
  position: relative;
  padding: 0.3em 0 0.7em;
  text-align: center;
  font-weight: 700;
  border-radius: 20px;
  color: $secondTextColor;
  transition: box-shadow 0.2s linear;
}
