@import "vars.scss";
@import "mixins.scss";

.main-section {
  &:not(:first-child) {
    margin-top: 2em;
  }
}

.main-section__content {
  @include flexWithWrapAndJustifyingContent;
  align-items: baseline;

  .section:first-child {
    display: flex;
    flex: 0 0 100%;

    .section__image {
      max-width: 100%;
      height: auto;
    }

    .section__image-container {
      flex: 1 0 45%;
    }

    .section__info {
      padding-left: 1em;
    }

    .section__info__date {
      margin: 0 0 1em;
    }

    .section__info__title {
      margin-bottom: 1em;
    }

    .section__info__description {
      display: block;
    }
  }

  .section {
    flex: 1 0 25%;
    padding: 0 1em;
  }

  .section__image-container {
    width: 100%;
  }

  .section__image {
    max-width: 100%;
    height: auto;
  }

  .section__info {
    margin: 0.5em 0;
    padding: 0;
  }

  .section__info__title {
    font-weight: 600;
  }

  .section__info__description {
    display: none;
  }
}

.sections {
  margin-top: 2em;
}

.sections__list {
  display: flex;
  margin-bottom: 2em;
}

.section {
  @include centerBlock(85%);
  margin-top: 1.5em;
}

@media screen and (min-width: $mobile) and (max-width: $tablet) {
  .main-section__content {
    display: block;
    @include centerBlock(90%);
    margin: 1.5em auto;

    .section,
    .section:first-child {
      display: block;
      @include centerBlock(90%);

      .section__image {
        max-width: 100%;
        height: auto;
      }

      .section__info {
        padding: 0;
      }

      .section__info__date {
        margin-top: 0.5em;
      }

      .section__info__description {
        display: none;
      }
    }
  }

  .section {
    display: block;
    padding: 0;
  }

  .sections__list {
    display: block;
  }
}

@media screen and (max-width: $mobile) {
  .main-section__content {
    display: block;

    .section,
    .section:first-child {
      display: block;
      @include centerBlock(90%);
      margin: 1.5em auto;

      .section__image {
        max-width: 100%;
        height: auto;
      }

      .section__info {
        padding: 0;
      }

      .section__info__date {
        margin-bottom: 0.5em;
      }

      .section__info__description {
        display: none;
      }
    }

    .section {
      display: block;
      padding: 0;
    }
  }

  .sections__list {
    display: block;
  }
}
