@import "vars.scss";
@import "mixins.scss";

main {
  display: flex;
  margin: 2em;
  justify-content: space-between;
  box-sizing: border-box;

  .left-block {
    width: 73%;
    height: 100px;
    @include blockBackground;
  }

  .right-block {
    width: 25%;

    .right-block_search {
      @include blocksInRightMain;

      .right-block_search_title {
        @include titleInRightMainBlocks;
      }

      .right-block_search_input {
        align-items: center;
        margin-top: 0.5em;
        input {
          width: 90%;
          height: 26px;
          transition: max-width 0.5s linear, visibility 0.5s linear;
          box-sizing: border-box;
        }

        .right-block_search_input-button {
          width: 21px;
          height: 21px;
          background: url(../imgs/icons/search-btn_small.svg) no-repeat;
          border: 0;
          border-radius: 0;
          cursor: pointer;
          transition: background .2s linear;

          &:hover {
            background: url(../imgs/icons/search-btn_small_active.svg) no-repeat;
          }
        }
      }
    }

    .right-block_calendar {
      @include blocksInRightMain;
      text-align: center;

      iframe {
        border-radius: 16px 16px 6px 6px;
      }
    }

    .right-block_live {
      @include blocksInRightMain;

      .right-block_live-title {
        @include titleInRightMainBlocks;
      }

      .right-block_live-content {
        text-align: center;

        p {
          margin: 0.2em 0;
          font-weight: 500;
        }

        .right-block_live-content-img {
          margin: 0.5em 0;
          img {
            max-width: 120px;
          }
        }

        .right-block_live-content_btn {
          padding: 1em;
          color: $secondTextColor;
          font-weight: 600;
          border: 0;
          border-radius: 20px;
          background-color: $hoverColor;
          cursor: pointer;
          transition: box-shadow .2s linear;

          &:hover {
            box-shadow: 0px 1px 3px $hoverShadowColor
          }
        }
      }
    }

    .right-block_socials {
      @include blocksInRightMain;

      .right-block_socials-title {
        @include titleInRightMainBlocks;
      }

      .right-block_socials-buttons {
        margin-top: 0.5em;

        a {
          display: block;
          position: relative;
          padding-top: 0.3em;
          padding-bottom: 0.7em;
          margin-bottom: 0.5em;
          border-radius: 20px;
          text-align: center;
          font-weight: 700;
          color: $secondTextColor;
          transition: box-shadow 0.2s linear;
        }

        .facebook {
          background-color: $facebookButtonBackgroundColor;
          &::before {
            content: url(../imgs/icons/facebook_small.svg);
            position: relative;
            width: 21px;
            height: 21px;
            right: 5px;
            top: 5px;
          }
          &:hover {
            box-shadow: 0px 1px 3px $facebookButtonShadowColor;
          }
        }

        .instagram {
          background-color: $instagramButtonBackgroundColor;

          &::before {
            content: url(../imgs/icons/instagram_small.svg);
            position: relative;
            width: 21px;
            height: 21px;
            right: 5px;
            top: 5px;
          }
          &:hover {
            box-shadow: 0px 1px 3px $instagramButtonShadowColor;
          }
        }
      }
    }
  }

  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    .left-block {
      width: 55%;
    }

    .right-block {
      margin: 0 auto;
      width: 40%;

      .right-block_search {
        align-items: center;

        .right-block_search_input {
          input {
            width: 85%;
          }
        }
        .right-block_search_input-button {
          vertical-align: middle;
        }
      }
    }
  }

  @media screen and (max-width: $mobile) {
    flex-direction: column;

    .left-block {
      width: 100%;
    }

    .right-block {
      margin: 0 auto;
      margin-top: 2em;
      width: 80%;

      .right-block_search {
        display: none;
      }
    }
  }
}
