@import "vars.scss";
@import "mixins.scss";

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
  opacity: 0;
  pointer-events: none;
}

.modal__dialog {
  position: relative;
  width: 55em;
  top: 5%;
  padding: 1em;
  left: 50%;
  margin-left: -27.5em;
  @include backgroundWithShadowAndRadius(
    $backgroundColorMain,
    0px 5px 4px $blockShadowColor,
    30px
  );
  z-index: 5;
}

.modal.isActive {
  pointer-events: auto;
  opacity: 1;
  overflow-y: auto;
}

.modal__dialog-title {
  position: relative;
  text-align: center;
  @include fontStyling(1.1em, 700);

  .js-close-btn {
    @include customButton(24px, 24px, -120px 0, -154px 0);
    position: absolute;
    top: -3px;
    right: 5px;
  }
}

.modal__dialog-content {
  @include flexWithWrapAndJustifyingContent;
  padding: 1em;
}

.modal__dialog-content__block {
  max-width: fit-content;
  margin-bottom: 1em;
  padding: 1em;
  text-align: center;
  font-size: 0.9em;
  @include backgroundWithShadowAndRadius(
    $backgroundBlockColor,
    0px 5px 4px $blockShadowColor,
    30px
  );
}

.modal__dialog-content__block-title {
  @include fontStyling(1em, 700);
}

.modal__dialog-content__block-image {
  max-width: 130px;
  margin: 0.5em 0;
  border-radius: 30px;
}

.youtube {
  @include centerBlock(80%);
  @include socialButtonStyle(
    $youTubeButtonBackgroundColor,
    $youTubeButtonShadowColor,
    url(../../imgs/svg-sprite.svg) -794px 0
  );
}

@media screen and (min-width: $mobile) and (max-width: $tablet) {
  .modal__dialog {
    width: 40em;
    margin-left: -20em;
  }

  .modal__dialog-content {
    justify-content: space-between;
  }
  
}

@media screen and (max-width: $mobile) {
  .modal__dialog {
    width: 20em;
    margin-left: -10em;
  }

  .modal__dialog-content {
    justify-content: center;
  }
}
