@import "vars.scss";
@import "mixins.scss";

.navigation {
  display: flex;
  border-bottom: 1px $borderColor solid;
  z-index: 1;

  .navigation_mobile {
    display: none;
    padding: 10px 0 10px 2em;

    &.show {
      .navigation_mobile_menu {
        left: 0;
      }
    }

    .navigation_mobile_btn-container {
      button {
        @include customButton(25px, 26px, -563px 0, -528px 0);
      }
    }

    .navigation_mobile_menu {
      display: block;
      width: 80%;
      position: fixed;
      top: 0;
      left: -100%;
      background: $backgroundColorMain;
      box-shadow: 2px 2px 5px $blockShadowColor;
      @include fontStyling(1.2em, 600);
      transition: left 0.5s linear;
      z-index: 2;

      .navigation_mobile_menu_list {
        .navigation_mobile_menu_list-title {
          margin-top: 10px;
          text-align: center;
          border-bottom: 1px $borderColor solid;
        }

        li {
          a {
            display: inline-block;
            width: 100%;
            padding: 10px;
            transition: background-color 0.3s linear, color 0.3s linear;

            &:hover {
              background-color: #f0f0f0;
              color: $hoverColor;
            }
          }
        }

        .dropdown {
          .dropdown_inner-list {
            max-height: 0;
            background-color: #f0f0f0;
            color: $mainTextColor;
            transition: max-height 0.4s linear;

            li {
              transition: visibility 0.3s linear;
              visibility: hidden;
              padding-left: 10px;
            }
          }

          &.show {
            background-color: #f0f0f0;
            color: $hoverColor;

            .dropdown_title::after {
              content: url(../../imgs/icons/arrow-active.svg);
            }

            .dropdown_inner-list {
              max-height: 400px;

              li {
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }

  .navigation_search {
    display: none;
    margin: 0 auto 0 1em;
    padding: 10px 0;
    @include alignAndJustifyToCenter;

    .navigation_search_btn-container {
      button {
        @include customButton(25px, 26px, -313px 0, -216px 0);
      }
    }

    .navigation_search_input-container {
      input {
        max-width: 0px;
        height: 25px;
        visibility: hidden;
        transition: max-width 0.5s linear, visibility 0.4s linear;
      }

      &.show {
        input {
          max-width: 150px;
          visibility: visible;
        }
      }
    }
  }

  .navigation_menu {
    @include centerBlock(fit-content);
    font-weight: 500;
    // TODO: height of all block

    .navigation_menu-list {
      display: flex;
      align-items: baseline;

      li {
        a {
          display: block;
          width: 100%;
          padding: 10px;
          border-left: 1px $backgroundColorMain solid;
          border-right: 1px $backgroundColorMain solid;
          transition: color 0.3s linear, border 0.3s linear;

          &:hover {
            color: $hoverColor;
            border-left-color: $hoverColor;
            border-right-color: $hoverColor;
          }
        }
      }

      .dropdown {
        position: relative;

        .dropdown_list {
          display: none;
          position: absolute;
          width: max-content;
          border: 1px $hoverColor solid;
          background: $backgroundColorMain;
          z-index: 3;

          li {
            color: $mainTextColor;
            a {
              transition: color 0.3s linear, background 0.3s linear;

              &:hover {
                border-left-color: #f0f0f0;
                border-right-color: #f0f0f0;
                background-color: #f0f0f0;
              }
            }
          }
        }

        &:hover {
          color: $hoverColor;

          .dropdown_title {
            border-left-color: $hoverColor;
            border-right-color: $hoverColor;
          }

          .dropdown_title::after {
            content: url(../../imgs/icons/arrow-active.svg);
          }

          .dropdown_list {
            display: block;
          }
        }
      }
    }
  }

  .navigation_facebook {
    display: none;
    margin: 0 1em 0 auto;
    padding: 10px 0;

    .navigation_facebook-link {
      display: block;
      width: 25px;
      height: 26px;
      background: url(../../imgs/icons/facebook.svg) no-repeat;
    }
  }

  .navigation_instagram {
    display: none;
    padding: 10px 2em 10px 0;

    .navigation_instagram-link {
      display: block;
      width: 25px;
      height: 26px;
      background: url(../../imgs/icons/instagram.svg) no-repeat;
    }
  }

  .dropdown_title {
    &::after {
      position: relative;
      content: url(../../imgs/icons/arrow.svg);
      left: 5px;
      top: 2px;
    }

    &:hover::after {
      content: url(../../imgs/icons/arrow-active.svg);
    }
  }

  @media screen and (max-width: $mobile) {
    .navigation_mobile {
      display: block;
    }

    .navigation_search {
      display: flex;
    }

    .navigation_menu {
      display: none;
    }

    .navigation_facebook {
      display: block;
    }

    .navigation_instagram {
      display: block;
    }
  }

  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    .navigation_menu {
      .navigation_menu-list {
        .dropdown {
          .dropdown_list {
            width: fit-content;
          }
        }
      }
    }
  }
}
