@import "vars.scss";
@import "mixins.scss";

.news {
  margin-bottom: 2em;
  padding: 1em;

  .block-title {
    text-align: start;
    font-size: 1.5em;
    border-bottom: none;
  }
}

.news__date {
  margin: 1em 0;
}

.news__main-image-container {
  @include centerBlock(80%);
  margin: 2em auto;
  text-align: center;
}

.news__main-image {
  max-width: 100%;
}

@media screen and (max-width: $tablet) {
  .other-news {
    @include centerBlock(70%);

    .section {
      margin: 1em 0 2em;
    }
  }
}
