@import "vars.scss";

.section {
    .section-text {
        padding: 2em 1em;
        .section-text__main-img {
            float: right;
            margin: 0 0 .5em .5em;
            text-align: center;
            width: 40%;

            img {
                max-width: 100%;
            }

            p {
                margin: .5em 0;
                font-weight: 600;
            }
        }

        h3 {
            text-align: center;
        }
    }
}

.other-sections {
    width: 70%;
    margin: 2em auto 0;

    .other-sections__container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1em;
        padding: 0 1em;
        justify-content: space-between;

        .other-section {
            display: flex;
            align-items: center;

            .other-section__icon {
                width: 30px;
                height: 30px;
                margin-right: .5em;
                background: url(../../imgs/icons/section.svg) no-repeat;
                transition: background .2s linear;
            }

            .other-section__title {
                font-size: 1.2em;
                font-weight: 500;
                transition: color .2s linear;
            }

            &:hover {
                color: $hoverColor;

                .other-section__icon {
                    background-image: url(../../imgs/icons/section-active.svg);
                }
            }
        }
    }
}


@media screen and (max-width: $tablet) {

    .section {
        padding: 2em .5em;
        .section-text {
            .section-text__main-img {
                width: 65%;
            }
        }
    }

    .other-sections {
        width: 90%;
    }
}