@import "vars.scss";
@import "mixins.scss";

.section {
  .section-text {
    padding: 2em 1em;

    .section-text__main-img {
      width: 40%;
      margin: 0 0 0.5em 0.5em;
      float: right;
      text-align: center;

      img {
        max-width: 100%;
      }

      p {
        margin: 0.5em 0;
        font-weight: 600;
      }
    }
  }
}

.other-sections {
  @include centerBlock(70%);
  margin-top: 2em;

  .other-sections__container {
    @include flexWithWrapAndJustifyingContent;
    margin-top: 1em;
    padding: 0 1em;

    .other-section {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .other-section__icon {
        width: 30px;
        height: 30px;
        margin-right: 0.5em;
        background: url(../../imgs/icons.png) -388px 0;
      }

      .other-section__title {
        @include fontStyling(1.2em, 500);
      }

      &:hover {
        color: $hoverColor;

        .other-section__icon {
          background-position: -348px 0;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .section {
    padding: 2em 0.5em;
    .section-text {
      .section-text__main-img {
        width: 65%;
      }
    }
  }

  .other-sections {
    width: 90%;
  }
}
