$mobile: 768px;
$tablet: 1240px;

$fontSize: 15px;
$fontFamily: "Bitter", serif;

$backgroundColorMain: white;
$backgroundBlockColor: #f9f9f9;
$backgroundImage: url(../../imgs/bg.png) no-repeat;

$blockShadowColor: #f3f3f3;
$hoverShadowColor: #0072b4;

$borderColor: black;

$mainTextColor: black;
$secondTextColor: white;
$hoverColor: #0072b6;

$youTubeButtonBackgroundColor: #cd201f;
$youTubeButtonShadowColor: #cb1e1d;
$facebookButtonBackgroundColor: #475993;
$facebookButtonShadowColor: #455791;
$instagramButtonBackgroundColor: #1d3366;
$instagramButtonShadowColor: #1d3366;
