$mobile: 768px;
$tablet: 1240px;

$fontSize: 14px;
$fontFamily: 'Bitter', serif; 

$backgroundColorMain: white;
$backgroundBlockColor: #F9F9F9;
$backgroundImage: url(../../imgs/bg.png) no-repeat;

$blockShadowColor: #F3F3F3;
$hoverShadowColor: #0072B4;

$borderColor: black;

$mainTextColor: black;
$secondTextColor: white;
$hoverColor: #0072B6;

$youTubeButtonBackgroundColor: #CD201F;
$youTubeButtonShadowColor: #CB1E1D;
$facebookButtonBackgroundColor: #475993;
$facebookButtonShadowColor: #455791;
$instagramButtonBackgroundColor: #1D3366;
$instagramButtonShadowColor: #1D3366;

