$mobile: 768px;
$tablet: 1240px;

$fontSize: 15px;
$fontFamily: 'Bitter', serif; 

$backgroundColorMain: white;
$backgroundBlockColor: #F9F9F9;
$backgroundImage: url(../imgs/bg.png) no-repeat;

$blockShadowColor: #F3F3F3;

$borderColor: black;

$mainTextColor: black;
$secondTextColor: white;
$hoverColor: #0072B6;

$youTubeButtonBackgroundColor: #CD201F;
$facebookButtonBackgroundColor: #475993;
$instagramButtonBackgroundColor: #1D3366;
