* {
  box-sizing: border-box;
}

.loginForm {
  width: 50%;
  margin: 2rem auto;
  padding: 3rem;
}

.loginSubmit {
  width: 75%;
  margin: 1rem auto;
}

.panelTitle {
  width: 50%;
  margin: 1rem auto;
  padding: .25rem;
}

.panel {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.panel__menu {
  width: 25%;
  height: fit-content;
  margin-right: 1rem;
  padding: 1rem;
}

.panel__blocks {
  width: 75%;
  padding: 3rem;
}

.panel__block__title {
  width: 50%;
  margin: 0 auto 1.25rem;
}

.panel__block__input-container {
  width: 75%;
  margin: 0 auto 1rem;
}

.uploadedImageList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 1rem 0;

  .card {
    margin: .5rem;
    flex: 1 0 30%;
    max-width: 30%;
  }
}

@media screen and (max-width: 1240px) {

  .loginForm {
    width: 90%;
    padding: 1rem;
  }

  .panelTitle {
    width: 90%;
  }

  .panel {
    flex-direction: column;
    margin: 0;
  }

  .panel__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 1rem auto;
    height: fit-content;

    div {
      flex: 1 0 49%;
      max-width: 49%;
    }
  }

  .panel__blocks {
    width: 97%;
    margin: 0 auto;
    padding: 1rem;
  }

  .panel__block__title {
    width: 100%;
  }

  .panel__block__input-container {
    width: 100%;
  }

  .uploadedImageList {
    flex-direction: column;

    .card {
      height: fit-content;
      flex: 1 0 100%;
      max-width: 100%;
    }
  }
}