.navigation {
  display: flex;
  border-bottom: 1px $borderColor solid;
  z-index: 1;
}

.navigation__mobile {
  display: none;
  padding: 10px 0 10px 2em;

  &.isActive {
    .navigation__mobile__menu {
      left: 0;
    }
  }

  .navigation__mobile__btn {
    @include customButton(25px, 26px, 0 0, -35px 0);
  }

  .navigation__mobile__menu {
    display: block;
    width: 80%;
    position: absolute;
    top: 0;
    left: -100%;
    background: $backgroundColorMain;
    box-shadow: 2px 2px 5px $blockShadowColor;
    @include fontStyling(1.2em, 600);
    transition: left 0.5s linear;
    z-index: 16;

    .item--title {
      margin-top: 10px;
      text-align: center;
      border-bottom: 1px $borderColor solid;
    }

    .navigation__mobile__menu__item {
      a {
        display: inline-block;
        width: 100%;
        padding: 10px;
        transition: background-color 0.3s linear;

        &:hover {
          background-color: #f0f0f0;
          color: $hoverColor;
        }
      }
    }

    .dropdown__list {
      max-height: 0;
      background-color: #f0f0f0;
      color: $mainTextColor;
      transition: max-height 0.4s linear;
    }

    .dropdown__list__item {
      transition: visibility 0.3s linear;
      visibility: hidden;
      padding-left: 10px;
    }

    .dropdown.isActive {
      background-color: #f0f0f0;
      color: $hoverColor;

      .dropdown__title::after {
        background-position: -94px 0;
      }

      .dropdown__list {
        max-height: 400px;

        .dropdown__list__item {
          visibility: visible;
        }
      }
    }
  }
}

.navigation__search {
  display: none;
  margin: 0 auto 0 1em;
  padding: 10px 0;
  @include alignAndJustifyToCenter;

  .navigation__search_btn {
    @include customButton(25px, 25px, -186px 0, -221px 0);
  }

  .navigation_search_input {
    max-width: 0px;
    height: 25px;
    visibility: hidden;
    transition: max-width 0.5s linear, visibility 0.4s linear;
  }

  &.isActive {
    .navigation_search_input {
      max-width: 150px;
      visibility: visible;
    }
  }
}

.navigation__menu {
  @include centerBlock(fit-content);
  font-weight: 600;

  .navigation__menu__list {
    display: flex;
    align-items: baseline;
  }

  .navigation__menu__list__item {
    a {
      display: block;
      width: 100%;
      padding: 10px;
      border-left: 1px $backgroundColorMain solid;
      border-right: 1px $backgroundColorMain solid;
      transition: border 0.3s linear;

      &.dropdown__title {
        padding-right: 1px;
      }

      &:hover {
        color: $hoverColor;
        border-left-color: $hoverColor;
        border-right-color: $hoverColor;
      }
    }
  }

  .dropdown {
    position: relative;

    &:hover {
      color: $hoverColor;

      .dropdown__title {
        border-left-color: $hoverColor;
        border-right-color: $hoverColor;

        &::after {
          background-position: -94px 0;
        }
      }

      .dropdown__list {
        display: block;
      }
    }
  }

  .dropdown__list {
    display: none;
    position: absolute;
    width: max-content;
    border: 1px $hoverColor solid;
    background: $backgroundColorMain;
    z-index: 3;

    .dropdown__list__item {
      color: $mainTextColor;

      a {
        transition: color 0.3s linear, background 0.3s linear;

        &:hover {
          border-left-color: #f0f0f0;
          border-right-color: #f0f0f0;
          background-color: #f0f0f0;
        }
      }
    }
  }
}

.navigation__facebook {
  display: none;
  margin: 0 1em 0 auto;
  padding: 10px 0;

  .navigation_facebook-link {
    display: block;
    width: 25px;
    height: 26px;
    background: url(../../imgs/svg-sprite.svg) 118px 0;
  }
}

.navigation__instagram {
  display: none;
  padding: 10px 2em 10px 0;

  .navigation_instagram-link {
    display: block;
    width: 25px;
    height: 26px;
    background: url(../../imgs/svg-sprite.svg) 184px 0;
  }
}

.dropdown__title {
  &::after {
    position: relative;
    display: inline-block;
    content: "";
    width: 14px;
    height: 14px;
    background: url(../../imgs/svg-sprite.svg) -70px 0;
    top: 2px;
  }

  &:hover::after {
    background-position: -94px 0;
  }
}

@media screen and (max-width: $tablet) {
  .navigation__mobile {
    display: block;
  }

  .navigation__search {
    display: flex;
  }

  .navigation__menu {
    display: none;
  }

  .navigation__facebook {
    display: block;
  }

  .navigation__instagram {
    display: block;
  }
}
