.sidebar-block-title {
  @include titleInRightMainBlocks;
}

.sidebar__search-block {
  @include blocksInRightMain;

  .sidebar__search-block__input-container {
    margin-top: 0.5em;
    align-items: center;
  }

  .sidebar__search-block__input-container__input {
    width: 90%;
    height: 1.5em;
    transition: max-width 0.5s linear, visibility 0.5s linear;
  }

  .sidebar__search-block__input-container__button {
    @include customButton(21px, 20px, -336px 0, -367px 0);
    vertical-align: top
  }
}

.sidebar__calendar-block {
  @include blocksInRightMain;
  text-align: center;

  iframe {
    margin: 0 auto;
  }
}

.sidebar__live-block {
  @include blocksInRightMain;

  .sidebar__live-block__content {
    text-align: center;

    p {
      margin: 0.2em 0;
      font-weight: 500;
    }
  }

  .sidebar__live-block__content__image-container {
    margin: 0.5em 0;
  }

  .sidebar__live-block__content__image {
    width: 50%;
    border-radius: 30px
  }
}

.sidebar__church-block {
  @include blocksInRightMain;

  .sidebar__church-block__image-container {
    margin: 0.5em auto;
    text-align: center;
  }

  .sidebar__church-block__image {
    width: 50%;
  }
}

.sidebar__media-block {
  @include blocksInRightMain;

  .sidebar__media-block__buttons {
    margin-top: .5em;
  }
}

.sidebar__socials-block {
  @include blocksInRightMain;

  .sidebar__socials-block__buttons {
    margin-top: 0.5em;
  }
}

@media screen and (min-width: $mobile) and (max-width: $tablet) {
  .sidebar__search-block {
    align-items: center;

    .sidebar__search-block__input-container__input {
      width: 85%;
    }
  }
}

@media screen and (max-width: $mobile) {
  .sidebar__search-block {
    display: none;
  }
}
