main {
  display: flex;
  margin: 2em;
  justify-content: space-between;
  box-sizing: border-box;
}

main .left-block {
  width: 73%;
  height: 100px;
  background-color: #F9F9F9;
  box-shadow: 0px 5px 4px #F3F3F3;
  border-radius: 30px;
}

main .right-block {
  width: 25%;
}

main .right-block .right-block_search {
  margin-bottom: 2em;
  padding: 1em;
  background-color: #F9F9F9;
  box-shadow: 0px 5px 4px #F3F3F3;
  border-radius: 30px;
}

main .right-block .right-block_search .right-block_search_title {
  font-size: 1.1em;
  text-align: center;
  font-weight: 700;
}

main .right-block .right-block_search .right-block_search_input {
  align-items: center;
  margin-top: 0.5em;
}

main .right-block .right-block_search .right-block_search_input input {
  width: 90%;
  height: 26px;
  padding: 0 1em;
  border: 1px black solid;
  border-radius: 30px;
  transition: max-width 0.5s linear, visibility 0.5s linear;
  box-sizing: border-box;
}

main .right-block .right-block_search .right-block_search_input .right-block_search_input-button {
  width: 21px;
  height: 21px;
  background: url(../imgs/icons/search-btn_small.svg) no-repeat;
  border: 0;
  border-radius: 0;
  cursor: pointer;
}

main .right-block .right-block_calendar {
  margin-bottom: 2em;
  padding: 1em;
  background-color: #F9F9F9;
  box-shadow: 0px 5px 4px #F3F3F3;
  border-radius: 30px;
  text-align: center;
}

main .right-block .right-block_calendar iframe {
  border-radius: 16px 16px 6px 6px;
}

main .right-block .right-block_live {
  margin-bottom: 2em;
  padding: 1em;
  background-color: #F9F9F9;
  box-shadow: 0px 5px 4px #F3F3F3;
  border-radius: 30px;
}

main .right-block .right-block_live .right-block_live-title {
  font-size: 1.1em;
  text-align: center;
  font-weight: 700;
}

main .right-block .right-block_live .right-block_live-content {
  text-align: center;
}

main .right-block .right-block_live .right-block_live-content p {
  margin: 0.2em 0;
  font-weight: 500;
}

main .right-block .right-block_live .right-block_live-content .right-block_live-content-img {
  margin: 0.5em 0;
}

main .right-block .right-block_live .right-block_live-content .right-block_live-content-img img {
  max-width: 120px;
}

main .right-block .right-block_live .right-block_live-content .right-block_live-content_btn {
  padding: 1em;
  color: white;
  font-weight: 600;
  border: 0;
  border-radius: 20px;
  background-color: #0072B6;
  cursor: pointer;
}

main .right-block .right-block_socials {
  margin-bottom: 2em;
  padding: 1em;
  background-color: #F9F9F9;
  box-shadow: 0px 5px 4px #F3F3F3;
  border-radius: 30px;
}

main .right-block .right-block_socials .right-block_socials-title {
  font-size: 1.1em;
  text-align: center;
  font-weight: 700;
}

main .right-block .right-block_socials .right-block_socials-buttons {
  margin-top: 0.5em;
}

main .right-block .right-block_socials .right-block_socials-buttons a {
  display: block;
  position: relative;
  padding-top: 0.3em;
  padding-bottom: 0.7em;
  margin-bottom: 0.5em;
  border-radius: 20px;
  text-align: center;
  font-weight: 700;
  color: white;
}

main .right-block .right-block_socials .right-block_socials-buttons .facebook {
  background-color: #475993;
}

main .right-block .right-block_socials .right-block_socials-buttons .facebook::before {
  content: url(../imgs/icons/facebook_small.svg);
  position: relative;
  width: 21px;
  height: 21px;
  right: 5px;
  top: 5px;
}

main .right-block .right-block_socials .right-block_socials-buttons .instagram {
  background-color: #1D3366;
}

main .right-block .right-block_socials .right-block_socials-buttons .instagram::before {
  content: url(../imgs/icons/instagram_small.svg);
  position: relative;
  width: 21px;
  height: 21px;
  right: 5px;
  top: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1240px) {
  main .left-block {
    width: 55%;
  }
  main .right-block {
    margin: 0 auto;
    width: 40%;
  }
  main .right-block .right-block_search {
    align-items: center;
  }
  main .right-block .right-block_search .right-block_search_input input {
    width: 85%;
  }
  main .right-block .right-block_search .right-block_search_input-button {
    vertical-align: middle;
  }
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
  main .left-block {
    width: 100%;
  }
  main .right-block {
    margin: 0 auto;
    margin-top: 2em;
    width: 100%;
  }
  main .right-block .right-block_search {
    display: none;
  }
}
